/* ----------------------- CORPO DO SITE ----------------*/
* {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;

}
.hide{
    transition: ease-in-out 500ms;
    display: none;
}
.grid{
    /* border: 1px solid green; */
    margin: 0 auto;
    padding: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 200px 1fr ;
    width: 98%;
}
.choose{
    width: 170px;
}

.container{
    /* border: 1px solid black; */
    display: flex;
    width: 100%  ;
    height: fit-content;
    flex-wrap: wrap;
}
.produto{
    padding: .5rem;
    font-family: fonteH4;
    border: 1px solid rgb(118, 117, 118);
    border-radius: 4px;
    margin: 1rem;
    text-align: center;
    width: 380px;
    max-height: 260px;
}
.produto img{
    position: relative;
    display: block;
    float: left;
    width: 180px;
}
.marca{
    padding: 1rem;
    display: block;
    width: 200px;
}
.marca img{
    width: 150px;
}
.textoProduto{
        /* border: 1px solid black; */
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    float: right;
    text-decoration: none;
    width: 170px;
    align-items: left;
    text-align: left;
    color: rgb(6, 69, 13);
}
.descricao{
    margin-bottom: 0px;
    margin-top: 5px;
    padding-right: 4px;
    padding-bottom: 0px;
    color: rgb(6, 17, 69);
    font-weight: 600;
    display: block;
    width: 180px;
    font-family: fonteH4;
    font-size: 16px;
    
    padding-top: 0px;
}
.preco{
    font-weight: 600;
    display: block;
    float: right;
    align-items: flex-end;
    text-align: right;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
}
.btn-quero{
    position:relative;
    display: block;
    margin: 0 auto;
    align-items: center ;
    justify-content: center;
    overflow: hidden;
}
.produto:hover {
    transition: ease-out 500ms;
    background-color: rgb(218, 137, 199);
}
.produto a:hover{
    transition: ease-in-out 500ms;
    color:rgb(33, 33, 31);
}
#topo{
    position: relative;
    text-decoration: none;
    display: block;
    width: 100vw;
    font-family: fonteH4;
    justify-content: center;
    margin: 1rem;
}
/*---------------------- MEDIA QUERY --------------------*/
@media (max-width: 1480px){
    .grid{
        width: 1050px;
    }
}
@media (max-width: 1058px){
    .grid{
        width: 600px;
    }
}
@media (max-width: 910px){
    .corpo{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        width: 95vw;
    }
    .produto{
        border-radius: 8px;
        align-items: center;
        margin: 1rem;
    }
}
@media (max-width: 600px){
    .grid{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 98%;
    }
    .choose{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 98%;
    }
    .container{
        width: 98%;
        position: relative;
        justify-content: center;
        margin: 0 auto;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }
    .descricao{
        padding-right: 15px;
    }

}
@media (max-width: 470px){
   .textos{
       margin-bottom: 1rem;
   }
   #topo{
        margin: 1rem 0rem;
        width: 98%;
   }
   .produto{
        position: relative;
        justify-content: center;
        float: none;
        margin: 0 auto;
        margin-bottom: 1rem;
        width: 98%;
        max-height: none;
        max-width: none;
   }
   .textoProduto{
        padding-left: 8px;
        /* padding-bottom: 2px; */
        position: relative;
        display: flex;
        text-decoration: none;
        width: 90%;
        align-items: left;
        text-align: left;
        margin: 1rem;
        color: rgb(6, 69, 13);
    }   

    .produto a img{
        width: 250px;
        margin: 0 auto;
        display: flex;
        position: relative;
        float: none;
    }
    .descricao{
        width: 90%;
    }
    .preco{
        width: 100%;
        display: block;
        float: right;
        position: relative;
        margin-right: 8px;
    }
    .btn-quero{
        margin: 0 auto;
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 320px){
    .titulo{
        height: 3rem;
    }
    .titulo h1{
        font-size: 28px;
        float: none;
    }
}