/* ----------------------- CORPO DO SITE ----------------*/
* {
    box-sizing: border-box;
}
.corpo{
    margin: 0 auto;
    padding: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 450px 450px ;
    width: 90%;
}
.produto{
    padding: .5rem;
    font-family: fonteH4;
    border: 1px solid rgb(118, 117, 118);
    border-radius: 4px;
    display: block;
    margin: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 400px;
}
.produto img{
    position: relative;
    display: block;
    float: left;
    width: 180px;
}
.marca{
    width: 170px;
}
.marca img{
    width: 150px;
}
.textoProduto{
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    float: right;
    text-decoration: none;
    width: 190px;
    align-items: left;
    text-align: left;
    color: rgb(6, 69, 13);
}
.descricao{
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: rgb(6, 17, 69);
    font-weight: 600;
    display: block;
    width: 200px;
    font-family: fonteH4;
    font-size: 16px;
    margin-top: 0px;
    padding-top: 0px;
}
.preco{
    font-weight: 600;
    display: block;
    float: right;
    align-items: flex-end;
    text-align: right;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}
.btn-quero{
    position:relative;
    display: block;
    margin: 0 auto;
    align-items: center ;
    justify-content: center;
    overflow: hidden;
}
.produto:hover {
    transition: ease-out 500ms;
    background-color: rgb(218, 137, 199);
}
.produto a:hover{
    transition: ease-in-out 500ms;
    color:rgb(33, 33, 31);
}
/*---------------------- MEDIA QUERY --------------------*/
@media (max-width: 910px){
    .corpo{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        width: 95vw;
    }
    .produto{
        display: block;
        border-radius: 8px;
        align-items: center;
        margin: 1rem auto;
    }
}
@media (max-width: 470px){
   .textos{
       margin-bottom: 1rem;
   }
   .produto{
        width: 280px;
   }
   .produto img{
        position: relative;
        display: block;
        float: left;
        width: 190px;
        margin-bottom: 2rem;
    }
    .textoProduto{
        margin-top: 1rem;
        width: 300px;
        float: left;
    }
    .produto a img{
        width: 250px;
        margin: 0 auto;
        display: block;
        position: relative;
        float: none;
    }
    .preco{
        margin-right: 50px;
    }
    .btn-quero{
        margin: 0 auto;
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 320px){
    .titulo{
        height: 3rem;
    }
    .titulo h1{
        font-size: 28px;
        float: none;
    }
    .preco{
        margin-right: 30px;
    }
}