/* ----------------------- CORPO DO SITE ----------------*/
.grid{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px dotted gray;
    border-radius: 5px;
    padding: 15px;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.imagem{
    transition: all 500ms;
    width: 80px;
    height: 80px;
    padding: 0px;
    margin: 6px;
    cursor: pointer;
}
.imagem:hover{
    transition: all 500ms;
    transform: scale(1.1);
    filter: sepia(50);
    width: 100px;
    height: 100px;
    margin: -5px;
}
#modal_img{
    width: 75vh;
}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
/*  margin-top: -207PX;
    margin-left: -10PX;*/
    left: 0;
    top: 0;
    align-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    z-index: 4;
    opacity: 0;
}
.modal_content{
    transition: all 1s;
    display:block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.modal_active{
    transition: all 1s;
    opacity: 1;
    visibility: visible;
}
#bt_close{
    position: absolute;
    color: white;
    right: 40px;
    top: 10px;
    background-color: black;
    font-size: large;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid white;
}
#bt_close:hover{
    background-color: rgb(198, 80, 80);
}
/*---------------------- MEDIA QUERY --------------------*/
@media (max-width: 500px){
    .grid{
        max-width: 480px;
        min-width: 320px;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 320px){
    .titulo2{
        font-size: 20px;
    }
    #modal_img{
        width: 98%;
        vertical-align: center;
    }
    #bt_close{
        right: 15px;
    }
    .grid{
        border: none;
        padding: 0px;
        width: 90%;
        grid-gap: 6px;
        margin-left: -10px;
        padding: 0px;
    }
}